@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Grotesk";
  src: url("/fonts/roc-grotesk/bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Grotesk";
  src: url("/fonts/roc-grotesk/regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Grotesk";
  src: url("/fonts/roc-grotesk/thin.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Grotesk";
  src: url("/fonts/roc-grotesk/medium.otf");
  font-weight: 500;
  font-style: normal;
}

.font-grotesk {
  font-family: "Grotesk";
}

body {
  margin: 0;
  color: #fff;
  background-color: #000;
  padding: 0; 
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(150px);
  pointer-events: none;
}

.gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}


.gradient-1 {
background: rgb(211, 26, 33) none repeat scroll 0% 0% / auto padding-box border-box;
width: 700px;
height: 700px;
animation-duration: 11s;
opacity: 0.6;
left: 60%;
top: 40%;
z-index: -2;
animation-name: animation-gradient-1;
}
.gradient-2 {
background: rgb(48, 149, 220) none repeat scroll 0% 0% / auto padding-box border-box;
width: 600px;
height: 600px;
animation-duration: 11s;
opacity: 0.6;
left: 40%;
top: 60%;
z-index: -1;
animation-name: animation-gradient-2;
}
.gradient-3 {
background: rgb(192, 219, 128) none repeat scroll 0% 0% / auto padding-box border-box;
width: 500px;
height: 500px;
animation-duration: 11s;
opacity: 0.6;
left: 50%;
top: 50%;
z-index: -3;
animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}

.btn {
  animation: none !important;
  transition: none !important;
  transform: none !important;
  text-transform: none;
  font-weight: normal;
}

[data-theme="light"] .btn-secondary {
  @apply text-black border-none bg-base-200 hover:bg-base-300;
}
[data-theme="dark"] .btn-secondary {
  @apply border border-[2px]   border-[#3F3E41];
}

[data-theme="light"] .modal-box {
  @apply  bg-white;
}

[data-theme="dark"] .modal-box {
  @apply  bg-gradient-to-br from-[#1e1e20] to-[#0e0e11];
}

[data-theme="light"] .register {
  @apply text-[#125641];
}

[data-theme="dark"] .register {
  @apply text-[#ccf84a];
}

.btn {
  animation: none !important;
  transition: none !important;
  transform: none !important;
  text-transform: none;
  font-weight: normal;
}

[data-theme="light"] .btn-secondary {
  @apply text-black border-none bg-base-200 hover:bg-base-300;
}
[data-theme="dark"] .btn-secondary {
  @apply border border-[2px]   border-[#3F3E41];
}
[data-theme="light"] .bg-secondary {
  @apply bg-base-100;
}
.text-standard {
  color: var(--standard-text-color);
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
